@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-error: 215 58 74;
    --color-primary: 3 102 214;
    --color-text-primary: 36 41 46;
    --color-text-secondary: 88 96 105;
  }
}

